pipeline/ATC_COVID19-Data_Integration.json
{
	"name": "ATC_COVID19-Data_Integration",
	"properties": {
		"activities": [
			{
				"name": "Copy atc-va data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"fileListPath": "atc-va/**",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"sink": {
									"path": "$"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "COPS_ADLS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"Filesystem": "@pipeline().parameters.SourceFilesystem",
							"Directory": "@pipeline().parameters.SourceDirectory",
							"Filename": "@pipeline().parameters.SourceFilename",
							"FileExtension": "@pipeline().parameters.SourceFileExtension"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "COPS_ADLS_json",
						"type": "DatasetReference",
						"parameters": {
							"Filesystem": "@pipeline().parameters.DestinationFilesystem",
							"Directory": "@pipeline().parameters.DestinationDirectory",
							"Filename": "@concat(pipeline().parameters.DestinationFilename,'_',pipeline().TriggerTime)",
							"FileExtension": "@pipeline().parameters.DestinationFileExtension"
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "COPS_ADLS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"Filesystem": "@pipeline().parameters.SourceFilesystem",
							"Directory": "@pipeline().parameters.SourceDirectory",
							"Filename": "@pipeline().parameters.SourceFilename",
							"FileExtension": "@pipeline().parameters.SourceFileExtension"
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "COPS_ADLS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"Filesystem": "@pipeline().parameters.SourceFilesystem",
										"Directory": "@pipeline().parameters.SourceDirectory",
										"Filename": "@pipeline().parameters.SourceFilen",
										"FileExtension": "@pipeline().parameters.SourceFileExtension"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "COPS_ADLS_json",
									"type": "DatasetReference",
									"parameters": {
										"Filesystem": "@pipeline().parameters.DestinationFilesyste",
										"Directory": "@pipeline().parameters.DestinationDirectory",
										"Filename": "@concat(pipeline().parameters.DestinationFilename,'_',pipeline().TriggerTime)",
										"FileExtension": "@pipeline().parameters.DestinationFileExtension"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"DestinationFilesystem": {
				"type": "string",
				"defaultValue": "atc-va"
			},
			"DestinationDirectory": {
				"type": "string",
				"defaultValue": "Staging"
			},
			"DestinationFilename": {
				"type": "string",
				"defaultValue": "*"
			},
			"DestinationFileExtension": {
				"type": "string",
				"defaultValue": "json"
			},
			"SourceFilesystem": {
				"type": "string",
				"defaultValue": "atc-va"
			},
			"SourceDirectory": {
				"type": "string",
				"defaultValue": "Raw"
			},
			"SourceFilename": {
				"type": "string",
				"defaultValue": "*"
			},
			"SourceFileExtension": {
				"type": "string",
				"defaultValue": "csv"
			}
		},
		"annotations": []
	}
}