pipeline/Mimic data Pipeline Refined.json
{
	"name": "Mimic data Pipeline Refined",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Unzip Data from Source",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "COPS_ADLS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"Filesystem": {
											"value": "@pipeline().parameters.SourceFilesystem",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.SourceDirectory",
											"type": "Expression"
										},
										"Filename": {
											"value": "@{split(item().name,'.')[0]}",
											"type": "Expression"
										},
										"FileExtension": {
											"value": "@pipeline().parameters.SourceFileExtension",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "COPS_ADLS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"Filesystem": {
											"value": "@pipeline().parameters.DestinationFilesystem",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.DestinationDirectory",
											"type": "Expression"
										},
										"Filename": {
											"value": "@split(item().name,'.')[0]",
											"type": "Expression"
										},
										"FileExtension": {
											"value": "@pipeline().parameters.DestinationFileExtension",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "COPS_ADLS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"Filesystem": {
								"value": "@pipeline().parameters.SourceFilesystem",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.SourceDirectory",
								"type": "Expression"
							},
							"Filename": {
								"value": "@pipeline().parameters.SourceFilename",
								"type": "Expression"
							},
							"FileExtension": {
								"value": "@pipeline().parameters.SourceFileExtension",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"DestinationFilesystem": {
				"type": "string",
				"defaultValue": "mimic"
			},
			"DestinationDirectory": {
				"type": "string",
				"defaultValue": "Refined"
			},
			"DestinationFilename": {
				"type": "string",
				"defaultValue": "*"
			},
			"DestinationFileExtension": {
				"type": "string",
				"defaultValue": "csv"
			},
			"SourceFilesystem": {
				"type": "string",
				"defaultValue": "mimic"
			},
			"SourceDirectory": {
				"type": "string",
				"defaultValue": "Staging"
			},
			"SourceFilename": {
				"type": "string",
				"defaultValue": "*"
			},
			"SourceFileExtension": {
				"type": "string",
				"defaultValue": "csv"
			}
		},
		"folder": {
			"name": "Mimic Data Pipeline"
		},
		"annotations": []
	}
}